@{
    ViewData["Title"] = "Home Page";
}
<div class="row" ">
    <div id="contentDiv" class="text-center col-3" style="height:inherit; border:solid;border-width:inherit; border-left-width:1px; border-right-width:0px">
        <div id="reklamaDiv"class="mx-auto mt-4 mb-5 border-secondary" style="width: 85%; border:solid;border-width: 2px;">
            @await Html.PartialAsync("~/Views/Shared/Reklama.cshtml")
        </div>
        <div>
            @await Html.PartialAsync("~/Views/Shared/LoginRegistracija.cshtml")

        </div>

    </div>

    <div class="text-center mx-auto container col-6 scrollable-div mt-0 mb-0 border-dark" style="height: 100%; border:solid;border-width:inherit; border-left-width:1px; border-right-width:1px;">
        <div>
            @await Html.PartialAsync("~/Views/Shared/Feed.cshtml")
        </div>
    </div>
    <div class="text-center col-3 align-middle" style="border:solid;border-width:inherit; border-left-width:0px; border-right-width:1px">
        <div class="mx-auto mt-2 border-dark border-2" style="">
            @await Html.PartialAsync("~/Views/Shared/PreporukaFilma.cshtml")
        </div>

    </div>

</div>

